
		<header>
			<h1>Welcome to Chitter!</h1>
			<form action="/users/new" method="GET">
			<button type="submit">Sign Up!</button>
			</form>
		</header>
		<section>
			<form action="/" method="POST">
				Cheep: <input type="text" name="cheep">
				<button type="submit">Cheep!</button>
			</form>

			<% @cheeps.each do |cheep| %>
				<li><%= cheep.cheep %>
					<%= cheep.created_at %></li>
			<% end %>

		</section>
