<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<header>
			<h1>Welcome to Chitter!</h1>
			<button type="submit">Sign Up!</button>
		</header>
		<section>
			<form action="/" method="POST">
				Cheep: <input type="text" name="cheep">
				<button type="submit">Cheep!</button>
			</form>

			<% @cheeps.each do |cheep| %>
				<li><%= cheep.user %><br/>
					<%= cheep.cheep %>
					<%= cheep.created_at %></li>
			<% end %>

		</section>
	</body>
</html>