<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<header>
			<h1>Welcome to Chitter!</h1>
			<form action="/user" method="GET">
				<button type="submit">Login</button>
			</form>
		</header>
		<section>
			<form action="/user" method="GET">
				Name: <input type="text" name="user">
				Email: <input type="text" name="email">
				Password: <input type="password" name="password">
				Username: <input type="text" name="username">
				<button type="submit">Sign Up</button>
			</form>
		</section>
	</body>
</html>