<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<header>
			<h1>Welcome to Chitter!</h1>
		</header>
		<section>
			<form action="/" method="POST">
				Cheep: <input type="text" name="cheep">
				<button type="submit">Cheep!</button>
			</form>
		</section>
	</body>
</html>