
		
<section>

	<% if current_user %>	
		<form action="/" method="POST">
			<input type="text" name="cheep">
				<button type="submit">Cheep!</button>
		</form>
	<% end %>	
		
	<% @cheeps.each do |cheep| %>
		<li><%= cheep.cheep %>
			<%= cheep.created_at %></li>
	<% end %>

</section>
