<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/reset.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css" />
	</head>
	<body>

	<header>
	</header>

	<% unless current_user %>

		<section>
			<h1>Welcome to Chitter.</h1>
			
			

		</section>

	 <% end %>

	<% if current_user %>

		<form action="/sessions" method="POST">
			<input type="hidden" name="_method" value="delete">
				<button type="submit">Sign Out!</button>
		</form>

    	Welcome, <%= current_user.name %>
    
 	<% end %>

	<%= yield %>

	</body>
</html>