<!DOCTYPE html>
<html>
	<head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/reset.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/stylesheet.css" />
	</head>
	<body>

	<header>
		<img id="twitter-bird" src="../images/twitter-bird.png"/>
		<% if current_user %>
			<form action="/sessions" method="POST">
				<input type="hidden" name="_method" value="delete">
				<button id="sign-out-button" type="submit">Sign Out!</button>
			</form>
	 	<% end %>
	</header>

	<%= yield %>

	</body>
</html>