body {
	background-color: #3a92c8;
	background: radial-gradient(circle,#94d2f8,#3a92c8);
	background-image: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200));
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #3a92c8;
}

header {
	background-color: #fff;
	height: 46px;
	width: 100%;
}

#main-container {
	width: 840px;
	background-color: yellow;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	height: 279px;
	width: 475px;
	padding: 24px;
	background-color: white;
	float: left;
	border-radius: 4px;
}

#sign_in {
	height: 110px;
	width: 302px;
	background-color: white;
	float: right;
	border-radius: 4px;
}

#sign_out {
	height: 203px;
	width: 302px;
	background-color: white;
	float: right;
	margin-top: 14px;
	border-radius: 4px;
}







