body {
	background-color: #3a92c8;
	background: radial-gradient(circle,#94d2f8,#3a92c8);
	background-image: radial-gradient(circle, rgb(148, 210, 248), rgb(58, 146, 200));
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: #3a92c8;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
	background-color: #fff;
	height: 46px;
	width: 100%;
}

#main-container {
	width: 840px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
}

#welcome {
	height: 315px;
	width: 475px;
	padding: 24px;
	background-color: white;
	float: left;
	border-radius: 4px;
}

#sign_in {
	height: 97px;
	width: 276px;
	padding: 13px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	float: right;
	border-radius: 4px;
}

#sign_up {
	height: 214px;
	width: 290px;
	padding: 6px;
	background-color: white;
	float: right;
	margin-top: 14px;
	border-radius: 4px;
}

.fill-in {
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	padding: 8px;
	display: block;
	border-radius: 3px;
	outline: 0;
	border: 1px solid #e1e8ed;
}

.fill-in:nth-child(2) {
	width: 180px;
	float: left;
}

.sign-in-button {
	float:right;
	width: 24%;
	padding: 8px;
	margin-top: 6px;
	border-radius: 3px;
	outline: 0;
	border: 1px solid #3b88c3;
	color: #fff;
	background-color: #55acee;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05));
	cursor: pointer;
}

.sign-up-btn {
	background-color: #ccd6dd;
	background-repeat: no-repeat;
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	color: #66757f;
	cursor: pointer;
	float: right!important;
}

#welcome-title {
	margin-top: 50px;
	font-size: 21px;
}

#welcome-blurb {
	color: #8899a6;
	font-size: 14px;
	line-height: 18px;
	margin-top: 10px;
}

#phone-image {
	background-image: url(../images/lohp_mdl_sprite.png);
	position: absolute;
	top: 105px;
	left: 510px;
	width: 222px;
	height: 285px;
}