<form class="form-sign-up" action="/users" method="POST">
	<input class="fill-in" type="text" name="name" placeholder="Full name">
	<input class="fill-in" type="text" name="email" placeholder="Email">
	<input class="fill-in" type="text" name="username" placeholder="Username">
	<input class="fill-in" type="password" name="password" placeholder="Password">
	<input class="fill-in" type="password" name="password_confirmation" placeholder="Password confirmation">
	<button class="sign-up-btn" type="submit">Sign Up!</button>
</form>