<h1>Sign up to Chitter</h1>

<form action="/users/new" method="POST">
	Name: <input type="text" name="name">
	Email: <input type="text" name="email">
	Password: <input type="text" name="password">
	Password confirmation: <input type="text" name="password_confirmation">
	<button type="submit">Go!</button>
</form>